


#nav form{
    display:inline;
}

/* docutheques */

audio{
    width:99%;
}


/* impossible si datas est pas dans head */ 
/*.album_head:hover  .album_datas{
    display:block;
}
*/

.album_head{
    cursor:pointer;
    font-weight:bold;
    color:#2B6;

}

.album_head:hover{
    background-color:yellow;
}

.album_head:hover + div{
    border-left:2px solid yellow;
}


.album_datas{
    position:relative;
    /*display:none;*/
    margin-left:1em;
    margin:0;
    border-left:1px solid magenta;
    padding-left:1rem;
    color:white;
}


.livre{
    position:relative;
    margin:0 5px;
    border-left:4px solid #70E73F;
    color:black;
}

.livre img{
     max-width:99%;
}

.livre_datas{
    position:relative;
    /*display:none;*/
    margin-left:1em;
    margin:0;
    border-left:4px solid magenta;
    color:black;
}


.siteTitre{
    margin-top:1em;
    font-weight:bold;
    text-decoration:underline;
}

.siteDetail{
    margin-left:1em;
}

/* videos */


option.selected{
    background-color:#acf;
}
 video, .video{
     display:block;
     width:50%;
     margin: 0 auto;
     text-align:center;
 }

#videoCommande img:hover{
    border: 1px solid blue;
 }

#videoCommande > a{
    cursor:pointer;
    text-decoration:none;
 }



.id3{
    margin: 0 3em;
    background-color:black;
    padding:0 1em;
    font-size:0.8em;
    color:#70E73F;

}


.id3_tagName{
    background-color:black;
    font-weight_:bold;
    text-decoration:underline;
    text-transform:capitalize;
}
.id3_tagName:after{
    content:":";
}

.id3_tagValue{
    font-style:italic;
}

.id3_tagValue:after{
    content:" ";
}

/* livreAudios-livreByAuteur */

/* ************* */
/* menu des docs */
/* ************* */

fieldset{
    margin:0;
    border:1px solid magenta;
    border-radius:5px;
    padding:0;

}
/*
#docsAudios, .docsAudios{
    z-index:12200;
}

#docsVideos, .docsVideos{
    z-index:12100;
}
#mediaLegral, .mediaLegral{
    z-index:12000;
}
*/


/*menu*/
/*html > body > div#page > div#header > nav#nav > div#docsAudios.menu_Docu_ligne > div.menu_Docs > div.menu_Docs_Titre*/
#docsAudios.menu_Docs, #docsVideos, .menu_Docs{
    z-index:100;

}
#docsAudios:hover .menu_Docs,
#docsVideos:hover .menu_Docs{
    z-index:200;
}

.menu_Docu_ligne{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:flex-start;
    max-height:1.5em;
    overflow:visible;
}
.menu_Docs{
    display:inline-block;
    overflow:visible;
    min-width:10em;
    max-width:10em;
    /*cursor:pointer;*/
    margin:0;
    text-align:left;
}

.menu_Docs_Titre{
    z-index:201;
    display:block;
    background-color:gray;
    text-align:center;
}

.menu_Docs_content{
    z-index:202;
    display:none;
    position:relative;
    width:210%;
    border-left:2px solid black;
    background-color:transparent;
    padding:2px;
    padding-left:1rem;
    text-align:left;
}

.menu_Docs:hover .menu_Docs_content,.menu_Docs_content:hover{
    position:relative;
    display:block;
}

.menu_Docs_content .ms{
    display:block;

legend{
}

