/* ********** */
/* = header = */
/* ********** */
#header{
    position:relative;
    overflow:visible;
    height:120px;
    background-color:transparent;
    margin:0 auto;
    color:#7BE;
    text-align:center;
}

#header.h1{
    background-color:transparent;
    color:#7BE;
    font-weight:bold;
}

