@charset "utf-8";

/*! - ./web/css-legral/knacss/knacss-V5.0.1.css - */

/*! - ./web/css-legral/html/mvc1.css - */
/* ******** */
/* = html = */
/* ******** */
html{
    background-color:#4C5EFF;
}

body{
    font-family:Verdana, serif;
    background-color:#4C5EFF;
    margin:0;padding:0;
    text-align:left;
    color:Black;
}

/*
@font-face {
     font-family: 'UnZialish';
    src: url('./fonts/UnZialish.ttf')
    format("truetype");
}
*/


/* ********** */
/* = header = */
/* ********** */
header,#header{
    position:relative;
    overflow:visible;
    background-color:transparent;
    margin:0 auto;
    color:#7BE;
    text-align:center;
}

header h1,#header.h1{
    background-color:transparent;
    color:#7BE;
    font-weight:bold;
}

/* - headerGauche, headerDroit sont des divs inclus dans header- */
#headerGauche{position:absolute;top:0;left:0;text-align:left;}
#headerDroit {position:absolute;top:0;right:0;text-align:right;}


/* ********** */
/* = footer = */
/* ********** */
footer,#footer{
    position:relative;
    overflow:visible;
    background-color:#000;
    margin:1em auto 0 auto;
    font-size:0.8em;
    color:#7BE;
    vertical-align:text-top;
    text-align:center;
}

footer h1,#footer h1{
    color:#7BE;
    font-weight:bold;
}

footer a,#footer a{color:White;}

#footerGauche{position:absolute;top:0;left:0;text-align:left;}
#footerDroit {position:absolute;top:0;right:0;text-align:right;}

footer .colonne{
    display:inline-block;
    margin:0;
    _border: 3px solid #B23366;
    padding:0;
    text-align:center;
    vertical-align:text-top;
}


/* ******** */
/* = page = */
/* ******** */
#page{
    display:block;
    position:relative;
    border:0;
    margin:0;
    margin-bottom:30px;
    background:inherit #4C5EFF url('') no-repeat right top;
    padding:0 10px;
}
/*
#pageContent{
    clear:both;
    min-height:5em;
    overflow:auto;
    margin-bottom:1em;
}
*/



section{
    vertical-align:top;
    text-align:center;
}


/* ***************** */
/* = menu flottant = */
/* ***************** */
#menu_flottant{
    position:fixed;
    display:block;
    /*overflow:hidden;*/
    height:14em;
    width:250px;
    top:10px;
    left:-240px; /* -( width-10) */
    margin:0 10px 0 0;
    border:1px solid #E08D3A;
    border:none;
    /*background-clip:border-box;*/
    background-color:transparent;
    background-image:url("../css-legral/html/mvc1/menu_flottant-tirette-ToOpen.png");

    background-repeat:repeat-y;
    background-position: right top;
    padding-left:1em;
}

#menu_flottant:hover{
    background-color:yellow;
    background-image:url("../css-legral/html/mvc1/menu_flottant-tirette-ToClose.png");
    animation-name:menu_flottant_open;
    animation-duration:500ms;
    animation-delay:0;
    animation-iteration-count:1;
    animation-direction:normal;
    animation-timing-function:ease-out;
    animation-fill-mode:forwards;
}

@keyframes menu_flottant_open {
    from {/*close*/
        /*background-color: #E08D3A;*/
        background-color: green;
        left:-240px;

    }
    to {/*open*/
        background-color: #80F280;
        left:0;
        border-right:0;
    }
}


/* ************** */
/* = element html */
/* ************** */

/* = Titre = */
h1,h2,h3,h4,h5,h6{margin:0; padding:0; font-weight:normal; font-size:1em; font-family:Georgia, Times, serif; }

h1{font-size:1.60em; color:#000; text-align:center; font-weight:bold;}
h2{margin-top:1.75em;font-size:1.40em; font-weight:bold;color:#003;}
h3{margin-top:1.5em;font-size:1.20em; font-weight:normal; }
h4{margin-top:1em;font-size:1.20em; font-weight:normal; }
h5{margin-top:1em;font-size:1em; font-weight:normal; }
h6{margin-top:1em;font-size:1em; font-weight:normal; }

/* = Tableaux = */
table caption, caption{
    text-align:center;
    white-space:nowrap;
    font-weight:bold;
}

tbody{
    height:auto;
    max-height:10em;
    overflow:auto;
}

thead,th, caption{
    background-color:blue;
    border-color:Lime;
    border-style:solid;
    color:#000;
    font-weight:bold;
    text-align:center;
}

tr{
    background-color:inherit;
}

tr:hover{
    background-color:#336;
}

.trI{
    margin:5px;
    border:1px solid blue;    border-radius:10px;
    padding:10px;
}
.trP{
    margin:5px;
    border:1px solid #AA2;    border-radius:10px;
    padding:10px;
}

table .table{
    table-layout:auto;
    width:99%;max-width:99%;
    margin:auto 3px 0px;
    border:none Black;
    border-right:4px;
}

.tableAuto td{
    width:auto;
}


/* * ********** * */
/* = formulaire = */
/* * ********** * */

label{
    margin-top:0;
    vertical-align:middle;
}

/* label et champ sur la meme ligne*/
.labelChamp{
    white-space:nowrap;
    vertical-align:middle;
}

/*  input */
input, textarea{
    background-color:#71412E;
    color:#0F0;
    text-indent:2px;
    border:none;
    border-bottom:inset Navy;
    font-size:0.9em;
    font-family:sans-serif;
}

input[type=submit]{
    background-color:#1119FF;
    border:none;
}

select{
    font-family:verdana;
    font-weight:bold; 
    font-size:0.9em; 
    border:1px solid #000000;
}

option{
    background-color:#11A0FF;
}

option:disabled{
    background-color:transparent;
    color:black;
    text-decoration:none;
    text-align:center;
    font-style:italic;
}

option:checked{
    background-color:blue;
    color:#DA1;
    text-decoration:underline;
    text-align:center;
    font-style:normal;
}

/* pas de pseudo classe selected*/
option.selected{
    text-decoration:none;
    font-style:normal;
    background-color:brown;
    color:blue;
}

textarea{
    width:99%;max-width:99%;
}

/* =  Text  =    */
a{color:#009;text-decoration:none;}
a:focus,a:hover{color:#F1824B;text-decoration:underline;}

/* =  cursor  =    */
.pointeur{cursor:pointer;}



/* ********** */
/* = switch = */
/* ********** */
.switchHead{
    cursor:help;
}
.switchDatas{
    display:none;
    border:1px solid yellow;
    border-radius:10px;
    width:95%;
    margin: 0 auto 2rem auto;
    padding: 0 1em;
    text-align:left;
    background-color:transparent;
    color:#52CECE;
}
.switchDatas > h1{
    text-align:center;
    font-weight:bold;}


/* *************** */
/* = section dev = */
/* *************** */
#dev{
    text-align:left;
    font-size: 0.9em;
}
#devCtrl{
	cursor:pointer;
	background-color:magenta;
}

#devContent{
	display:none;	/* cacher par defaut */
	border: 1px solid magenta;
	background-color:transparent;
}


/*****************/
/* -- connect -- */
/*****************/
#logPwd label,#pwdForgot label{
    display:inline-block;
    width:105px;
    text-align:right;
}
#logPwd input,#pwdForgot input{
    text-align:center;
}


/*! - ./web/css-legral/menuStylisee/ms.css - */
/*****************/
/* menu stylisee */
/*****************/
div.ms{
    position:relative;
    display:block;

    height:18px;
    
    margin:0 auto;
    padding:0;

    text-align:center;
}

.ms ul{
    position:relative;
    display:inline-block;
    margin:0;
    padding:0;
    list-style:none;
}


.ms li{
    display:inline;
    white-space: nowrap;
    
    min-width:10px;
    margin:0;

	background-color:#0CAD0C;

	border:1px solid green;
    border-bottom:0;

    border-radius:5px;
    border-bottom-right-radius:0;    
    border-bottom-left-radius:0;
    padding:0 2px;
}

/* -- position normal:hover -- */
.ms li:hover,.ms li:focus,.ms li.actif:hover{
    text-decoration:none;
    border-color:red;
    border-bottom:0;
}

/* -- position actif -- */
.ms li.actif, .ms li.actif{
    background-color:#33F;
    border-color:blue;
}

/* -- est un titre -- */
.msTitre{
    border-bottom:1px solid red;
/*    text-transform: uppercase;*/
}

.ms a{
    cursor:pointer;
    text-decoration:none;
    color:black;
    font-weight:bold;
}

.ms a:hover,.ms a:focus,.ms a.actif:hover:{
    color:white;
}

/*! - ./web/css-legral/notes/notesMVC.css - */
.noteclassic,.noteimportant,.notewarning,.notetip,.notehelp
	{margin:2em;margin-left:auto;margin-right:auto;width:70% !important;min-height:40px;clear:none;text-align:justify;vertical-align:middle;border-collapse:collapse;
	padding:15px 20px 15px 80px;background-position:20px 50%;background-repeat:no-repeat;-moz-border-radius:20px;-khtml-border-radius:20px;border-radius:20px;}
.noteclassic{border-color:#9d9;background-color:#eef;background-image:url("../css-legral/notes/note.png");}
.noteimportant{border-color:#fc0;background-color:#fda;background-image:url("../css-legral/notes/important.png");}
.notewarning{border-color:#d99;background-color:#fdd;background-image:url("../css-legral/notes/warning.png");}
.notetip{border-color:#dd9;background-color:#ffd;background-image:url("../css-legral/notes/tip.png");}
.notehelp{border-color:#99f;background-color:#ddf;background-image:url("../css-legral/notes/help.png");}


/*! - ./web/css-legral/tutoriels/tutorielsMVC.css - */
.binary{color:yellow;}
.chroot{color:#777;}

.keyword{color:#FFF;}
.parametre{color:#777;}

.filename{
	font-style:italic;
	background-color: #0B0;
	color: #508;
}

.coding_filename{
	margin: 0  0 0 1em;
	background-color:transparent;
	margin-bottom:-1em;
	padding-left:1em;
	border-left:1px solid red;border-top:1px solid red;
	font-style:italic;
	color: #508;
}

/*.codingAfterFilename{
	margin-top:0;
}*/

/*
div.coding_filename,div.coding_file{margin-top:-1em;}
span.coding_filename,pre.coding_file{margin-top:-1em;}
*/

.coding_user{
	min-height: 19px;
	margin: 0;
	background-image: url("../css-legral/tutoriels/coding_user.png");
	background-repeat: no-repeat;
	background-position: left top;
	border-width: 2px;
	border-style: solid;
	border-color: red; 	
	padding: 0.2em 0.5em 0.5em 2em;
	vertical-align: middle;	
	font-size: 1em;
	background-color: black;
	color: #5EB6DD;	
}

.coding_root{
	min-height: 19px;
	margin: 0;
	background-image: url("../css-legral/tutoriels/coding_root.png");
	background-repeat: no-repeat;
	background-position: left top;
	border-width: 2px;
	border-style: solid;
	border-color: red; 	
	padding: 0.2em 0.5em 0.5em 2em;
	vertical-align: middle;	
	font-size: 1em;
	background-color: black;
	color: #5EB6DD;	
}

.coding_code{
        min-height: 19px;
        margin:0;
        background-image: url("../css-legral/tutoriels/coding_code.png");
        background-repeat: no-repeat;
        background-position: left top;
        border-width: 2px;
        border-style: solid;
        border-color: red;
        padding: 0.2em 0.5em 0.5em 2em;
        vertical-align: middle;
        font-size: 1em;
        background-color: black;
        color: #5EB6DD;
}

.coding_file{
	min-height: 19px;
	margin:0;
	background-image: url("../css-legral/tutoriels/coding_file.png");
	background-repeat: no-repeat;
	background-position: left top;
	border-width: 2px;
	border-style: solid;
	border-color: red; 	
	padding: 0.2em 0.5em 0.5em 2em;
	vertical-align: middle;	
	font-size: 1em;
	background-color: black;
	color: #5EB6DD;	
}


.detailTechniqueHeader{
	margin-left:0.5em;padding-left:0.5em;
	cursor:pointer;
	border-left:1px solid blue;
	}	
.detailTechniqueHeader:hover{
	background-color:blue;
	}	
/*.detailTechniqueHeader:hover .detailTechniqueContent{	display:'block';	}	*/

.detailTechniqueHeader:before
	{ 
	content:" + ";
	background-color:yellow;
	color: red;
	font-weight:bold;
	}
.detailTechniqueContent{
	display:none;
	margin-left:0.5em;padding-left:1.5em;
	border-left:1px solid blue;
	}	

.fsRoot{color:#00D;}
.fsDir0{background-color:#000;color:#03D;}
.fsDir1{background-color:#000;color:#06D;}
.fsDir2{background-color:#000;color:#0D0;}
.fsDir3{background-color:#000;color:#0D0;}
.fsDir4{background-color:#000;color:#0D0;}
.fsDir5{background-color:#000;color:#0D0;}

.menuLogo{
	position:absolute;
	display:inline;
	top:0;right:0;
	width:100px;
}

/*! - ./web/css-legral/gestLib/gestLib.css - */
/*
 * gestLib.css
 * deniere version (remplace gestLib-0.1.css)
 */

.gestLib{
	font-size:0.8em;
}

/* console */
.gestLibNom
	{
	font-size:1em;
	border: 1px solid Red;
	background-color:Black;
	color:Magenta;
/*	margin:0;*/
	}

.gestLibDataBox
	{
	max-height:10em;
	overflow:auto;
	font-size:.8em;
	border: 1px solid Red;
	margin-top:-2px;
	background-color:Black;
	color:#AAA;
/*	margin:0;*/
	}




/* nom de la variable */
.gestLibVarNom
	{
/*	font-size:0.8em;*/
	border-bottom: 1px solid Red;
	background-color:Black;
	color:#F9D47C;
/*	margin:0;*/
	}
.gestLibVar
	{
/*	font-size:0.8em;*/
	border-bottom: 1px solid Red;
	background-color:Black;
	color:#F9D47C;
/*	margin:0;*/
	}
/* valeur de la variable */
.gestLibVal
	{
/*	font-size:0.8em;*/
	border-bottom: 1px solid Red;
	/*background-color:#FFF;*/
	/*color:Yellow;*/
	font-weight:bold;

	}
.gestLibValSpecial{
	font-style:italic;
}
.gestLibInfo
        {
        color:Yellow;
	font-style:italic;
        }


/* inspect */
/* utiliser par l'utilisateur pour definir une source */
.gestLib_inspectOrigine{
	margin: 0 2em;
	border:2px solid red;
	max-height:20em;
	overflow:auto;
}
/* automatique (chaque iteration)*/
.gestLib_inspect{
}

ul.gestLib{
	border-left:3px solid black;
	margin-top:0;
	}
ol.gestLibObject{
        border-left:3px solid yellow;
        margin-top:0;
        }
ul.gestLibArray{
        border-left:3px solid blue;
        margin-top:0;
        }


ul.gestLib li {
/*	margin-left:0;*/
	background-color:#0FB;
        }

/* tableau de synthese */
table.gestLib{
	font-size:.8em;
}
table.gestLib caption{
	text-align:center;
	font-weight:bold;
}

table.gestLib th{
	text-align:center;
    border: 2px solid #0300D6;
    background:blue;
	color:black;
}


/*
 * gestOut
 */ 
.gestOutFile{
    display:block;
    background-color:black;
    text-decoration:underline;
    font-weight:bold;
    color:yellow;
}

.gestOutFunction{
    display:inline-block;
    background-color:magenta;
    text-decoration:normal;
    font-weight:bold;
    color:yellow;
}

.gestOutWarn{
    background-color:transparent;
    text-decoration:none;
    font-weight:bold;
    color:red;
}

.gestOutInfo{
    background-color:transparent;
    text-decoration:none;
    font-weight:normal;
    color:blue;
}


/*
 * pageDev
 */ 

#devCtrl{
	cursor:pointer;
	background-color:magenta;
}

#devContent{
	display:none;	/* cacher par defaut */
	border: 1px solid magenta;
	background-color:transparent;
}


/*! - ./web/css-legral/notifs/notifs.css - */
/****************/
/* == notifs == */
/****************/
.notif,.notifclassic,.notifimportant,.notifwarning,.notiftip,.notifhelp
    {margin:2em;margin-left:auto;margin-right:auto;width:70% !important;min-height:40px;clear:none;text-align:justify;vertical-align:middle;border-collapse:collapse;
    padding:15px 20px 15px 80px;background-position:20px 50%;background-repeat:no-repeat;-moz-border-radius:20px;-khtml-border-radius:20px;border-radius:20px;}
.notifclassic{border-color:#9d9;background-color:#eef;background-image:url("./notes/note.png");}
.notifimportant{border-color:#fc0;background-color:#fda;background-image:url("./notes/important.png");}
.notifwarning{border-color:#d99;background-color:#fdd;background-image:url("./notes/warning.png");}
.notiftip{border-color:#dd9;background-color:#ffd;background-image:url("./notes/tip.png");}
.notifhelp{border-color:#99f;background-color:#ddf;background-image:url("./notes/help.png");}
/*! - ./web/css-legral/gestConsoles/gestConsoles.css - */
.console_Nom,.console_Texte
	{
	/*min-width:40em;*/
	background-color:Black;
	border:1px solid Red;
	overflow:auto;
	font-size:0.8em;
	color:Yellow;	
	}

.console_Texte{min-height:10em;}
.console_Nom{cursor:pointer;}

.lgs_console_Menu
	{
	cursor:pointer;
	background-color:Black;
	border:1px solid Red;
	overflow:auto;
	font-size:0.8em;
	color:Yellow;	
	}
.lgs_console_Contenu
	{
	min-height:10em;min-width:10em;width:80%;
	background-color:Black;
	border:1px solid Red;
	overflow:auto;
	font-size:0.8em;
	color:Yellow;	
	}





/*! - ./web/css-legral/gestClasseurs/gestClasseurs.css - */

.gestClasseursSupport{
	resize:both;
/*	overflow:visible;*/
	width:100%;
/*	border:1px solid blue;*/
	background-color:transparent;
	color:#000;
}

.gestClasseurs_menuSupport{
	max-height:2em;
	margin:0;
	padding:0;
/*	border:1px solid red;*/
	background-color:transparent;
	color:#FFF;
}

.gestClasseurs_onglet{
	cursor:pointer;
	margin:.5em 2px ;
	margin-bottom:0;
	height:2em;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding:0 .5em;
	padding-left:1em;
	background-color:#0CAD0C;
	color:#000;
}
.gestClasseurs_onglet:hover{
	background-color:#5AAF43;
}
.gestClasseurs_ongletSelected{
	height:2em;
	background-color:#2E16E2;
	border:3px solid black;
	color:#000;}

.gestClasseurs_datasBoxSupport{
	resize:both;
/*	z-index:1000;*/
	position: relative;
	width:100%;height:15em;
/*	border:1px dotted yellow;*/
	background-color:blue;
}

.gestClasseurs_datasBox{
/*	z-index:1010:*/
	visibility:visible;
	display:block;
	position: absolute;
	top:0;left:0;
	width:100%;
	height:100%;
	overflow:auto;	
/*	border:1px double green;*/
	background-color:black;
	/*background-color:transparent;*/
	margin:0;
	text-align:left;
	color:yellow;
}


/*! - ./web/css/html/mvc1.css - */
/* ********** */
/* = header = */
/* ********** */
#header{
    position:relative;
    overflow:visible;
    height:120px;
    background-color:transparent;
    margin:0 auto;
    color:#7BE;
    text-align:center;
}

#header.h1{
    background-color:transparent;
    color:#7BE;
    font-weight:bold;
}


/*! - ./web/css/docutheques/docutheques.css - */



#nav form{
    display:inline;
}

/* docutheques */

audio{
    width:99%;
}


/* impossible si datas est pas dans head */ 
/*.album_head:hover  .album_datas{
    display:block;
}
*/

.album_head{
    cursor:pointer;
    font-weight:bold;
    color:#2B6;

}

.album_head:hover{
    background-color:yellow;
}

.album_head:hover + div{
    border-left:2px solid yellow;
}


.album_datas{
    position:relative;
    /*display:none;*/
    margin-left:1em;
    margin:0;
    border-left:1px solid magenta;
    padding-left:1rem;
    color:white;
}


.livre{
    position:relative;
    margin:0 5px;
    border-left:4px solid #70E73F;
    color:black;
}

.livre img{
     max-width:99%;
}

.livre_datas{
    position:relative;
    /*display:none;*/
    margin-left:1em;
    margin:0;
    border-left:4px solid magenta;
    color:black;
}


.siteTitre{
    margin-top:1em;
    font-weight:bold;
    text-decoration:underline;
}

.siteDetail{
    margin-left:1em;
}

/* videos */


option.selected{
    background-color:#acf;
}
 video, .video{
     display:block;
     width:50%;
     margin: 0 auto;
     text-align:center;
 }

#videoCommande img:hover{
    border: 1px solid blue;
 }

#videoCommande > a{
    cursor:pointer;
    text-decoration:none;
 }



.id3{
    margin: 0 3em;
    background-color:black;
    padding:0 1em;
    font-size:0.8em;
    color:#70E73F;

}


.id3_tagName{
    background-color:black;
    font-weight_:bold;
    text-decoration:underline;
    text-transform:capitalize;
}
.id3_tagName:after{
    content:":";
}

.id3_tagValue{
    font-style:italic;
}

.id3_tagValue:after{
    content:" ";
}

/* livreAudios-livreByAuteur */

/* ************* */
/* menu des docs */
/* ************* */

fieldset{
    margin:0;
    border:1px solid magenta;
    border-radius:5px;
    padding:0;

}
/*
#docsAudios, .docsAudios{
    z-index:12200;
}

#docsVideos, .docsVideos{
    z-index:12100;
}
#mediaLegral, .mediaLegral{
    z-index:12000;
}
*/


/*menu*/
/*html > body > div#page > div#header > nav#nav > div#docsAudios.menu_Docu_ligne > div.menu_Docs > div.menu_Docs_Titre*/
#docsAudios.menu_Docs, #docsVideos, .menu_Docs{
    z-index:100;

}
#docsAudios:hover .menu_Docs,
#docsVideos:hover .menu_Docs{
    z-index:200;
}

.menu_Docu_ligne{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:flex-start;
    max-height:1.5em;
    overflow:visible;
}
.menu_Docs{
    display:inline-block;
    overflow:visible;
    min-width:10em;
    max-width:10em;
    /*cursor:pointer;*/
    margin:0;
    text-align:left;
}

.menu_Docs_Titre{
    z-index:201;
    display:block;
    background-color:gray;
    text-align:center;
}

.menu_Docs_content{
    z-index:202;
    display:none;
    position:relative;
    width:210%;
    border-left:2px solid black;
    background-color:transparent;
    padding:2px;
    padding-left:1rem;
    text-align:left;
}

.menu_Docs:hover .menu_Docs_content,.menu_Docs_content:hover{
    position:relative;
    display:block;
}

.menu_Docs_content .ms{
    display:block;

legend{
}

